body {
  margin: 0;
  font-family: "stratos", "Helvetica Neue","Helvetica","Arial","Microsoft YaHei","Hiragino Sans GB","sans-serif"; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
